.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 60px;

  background: #1f1f1f;
  /* dark navbar */

  color: white;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

/* Links */

.links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  color: #ff7a00;
  /* orange hover */
}

/* Logout */

.logout {
  background: #ff7a00;
  color: white;

  border: none;
  padding: 7px 15px;

  border-radius: 6px;

  cursor: pointer;

  transition: 0.3s;
}

.logout:hover {
  background: #e66a00;
}

/* Burger */

.burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile */

@media (max-width: 768px) {

  .burger {
    display: block;
  }

  .links {
    position: absolute;
    top: 70px;
    right: 0;

    background: #1f1f1f;

    flex-direction: column;

    width: 200px;

    padding: 20px;

    display: none;
  }

  .active {
    display: flex;
  }

  .navbar {
    padding: 15px 25px;
  }
}